
/* =============== Body ================ */

html, body {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(222, 222, 222);
}

/* =============== Header ================ */

.divv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* width: 90%; */
  /* margin: 0px 0px 0px 0px; */
    /* margin: 0px auto; */
  padding: 0px 0px 0px 0px;

  background-color:rgb(145, 100, 182);
  border-bottom: 3px solid rgb(0, 0, 0);
}

.title {
  margin: 5px 0px 0px 0px;
  text-align: center;
  color: rgb(217, 191, 24);
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title2 {
  margin: 0px 0px 0px 0px;
  text-align: center;
  color: rgb(0, 0, 0);
   /* color: rgb(217, 191, 24); */
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 0px 0px 0px;
}

.btn {
  display: inline-block;
  text-align: center;
  margin: 10px 15px 15px 15px;
  padding: 2px 5px 2px 5px;
  color:black;
  background-color: rgb(197, 197, 197);
  border: 2.3px solid black;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Calibri';
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7; /* Set the opacity to 70% on hover */
}

.btn:active {
  transform: translate(0, 3px); /* Move the button 10 pixels down on hover */
}

/* =================== Rollups =================== */

.rollup-row {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap:0%; */
  margin: 0 auto;
  /* margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; */

  width: 98%;
  height: auto;
  /* height: 25vh; */
  border-bottom: 2px solid rgb(0, 0, 0);
}

.rollup-box-tl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  gap:20px;
    min-width: 0; 

  /* margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; */

  border-right: 2px solid rgb(0, 0, 0);
}

.rollup-box-tr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  gap:20px;
  min-width: 0; 

  /* margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; */

  /* border-left: 2px solid rgb(0, 0, 0); */
  /* border-bottom: 2px solid rgb(0, 0, 0); */
}

.rollup-box-bl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  gap:20px;
  min-width: 0; 

  /* margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; */

  border-right: 2px solid rgb(0, 0, 0);
}

.rollup-box-br {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  gap:20px;
  min-width: 0; 

  /* margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; */

  /* border-left: 2px solid rgb(0, 0, 0); */
  /* border-bottom: 2px solid rgb(0, 0, 0); */
}

.title-box {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  width: 100%;
  height: auto;
  /* margin: 0px 0px 0px 0px;
  padding: 20px 20px 0px 20px; */
}

.rollup-title {
  display: flex; 
  flex: 1; 
  justify-content: center; 
  align-items: center; 
  align-self: center;
  width: 100%; 
  /* height: 20%; */
  /* margin: 0 auto; */
  margin: 25px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: clamp(24px, 4.5vw, 50px);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-size: 50px; */

  word-break: break-word;
  overflow-wrap: break-word;
  text-align: center;
}

.rollup-number {
  font-size: 70px;
  margin: 0px 0px 0px 0px;
  padding: 0px 2px 0px 0px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rollup-number-2 {
  font-size: clamp(24px, 4.5vw, 50px);
  margin: 0px 0px 0px 0px;
  padding: 0px 2px 0px 0px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.circle-box {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
    box-sizing: border-box;

  /* width: 20%; */
  /* height: 100%;  */
  margin: 10px 0px 35px 0px;
  padding: 0px 0px 0px 0px;
}

.circle-1 {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 0px 0px 0px 0px;
  padding: 22px 5px 22px 5px;

  border: 15px solid rgb(240, 208, 0);
  border-radius: 100px;
  background-color: rgb(255, 239, 136);
  width: 100%; /* Adjust width to ensure it fills the parent */
  height: auto; /* Adjust height if needed */
}

.circle-2 {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 0px 0px 0px 0px;
  padding: 10px 8px 10px 8px;

  border: 15px solid rgb(240, 208, 0);
  border-radius: 100px;
  background-color: rgb(255, 239, 136);
  width: 100%; /* Adjust width to ensure it fills the parent */
  height: auto; /* Adjust height if needed */
}

.circle-3 {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 0px 0px 0px 0px;
  padding: 33px 1px 33px 1px;

  border: 15px solid rgb(240, 208, 0);
  border-radius: 100px;
  background-color: rgb(255, 239, 136);
  width: 100%; /* Adjust width to ensure it fills the parent */
  height: auto; /* Adjust height if needed */
}

.circle-4 {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 0px 0px 0px 0px;
  padding: 0px 6px 0px 6px;

  border: 15px solid rgb(240, 208, 0);
  border-radius: 100px;
  background-color: rgb(255, 239, 136);
  width: 100%; /* Adjust width to ensure it fills the parent */
  height: auto; /* Adjust height if needed */
}

/* ====================== Graphs ======================= */

.graph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  width: 100%;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.visuals-text {
  display: flex; 
  flex: 1; 
  justify-content: center; 
  align-items: center; 
  align-self: center;

  font-size: clamp(24px, 5vw, 50px);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(38, 38, 38);

  margin: 25px 0px 0px 0px;
  padding: 0px 0px 0px 0px; 
}

.graph-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;

  width: 98%;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.graph-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 47%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.graph {
  margin: 0px 0px 0px 0px;
  padding: 10px 15px 0px 10px;
  width: 100%;
  height: 100%;

  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  overflow: hidden;

  background-color: white;
}

/* ================ Data Table ================ */

.data-row {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  flex-grow: 1;

  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: auto;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.data-box {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:3vh;

  margin: 0px 0px 0px 0px;
  /* margin: 0 10px;  */
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: auto;
  /* border-left: 2px solid rgb(0, 0, 0); */
}

.data-title {
  font-size: clamp(20px, 2.5vw, 50px);
  color: rgb(38, 38, 38);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 5px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
}

#applications-table {
  box-sizing: border-box; 
  margin: 0px 0px 0px 0px; /* Adjust the margin as needed */
  padding: 0px 0px 20px 0px; /* Reduced padding for tighter border */
  width: 90%;
  /* height: 56vh; */
  height: auto;
  /* height: clamp(300px, 60vh, 700px); min-height: 250px;  */
  /* max-height: 800px; */
  overflow-x: auto; 
  /* white-space: nowrap; */
  /* visibility:collapse; */
}

/* ================ Rating Row ==================== */

.rating_row {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 98%;
  height: auto;
  /* height: 10vh; */
  /* gap: 8%; */
  margin: 0 auto;
  /* margin: 0px 0px 0px 0px; */
  padding: 40px 0px 40px 0px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.rating_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 100%; */
  margin: 0px 0px 0px 0px;
}

.rating_title {
  font-size: 15px;
  color: rgb(38, 38, 38);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.rating_title_text {
  font-size: 30px;
  color: rgb(38, 38, 38);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.ratingg {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rating_outline1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 0px 0px 0px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 2px;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 2, 2);
}
.rating_outline2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 0px 0px 0px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 2px;
  width: 50px;
  height: 50px;
  background-color: rgb(231, 123, 0);
}
.rating_outline3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 0px 0px 0px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 2px;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 207, 62);
}
.rating_outline4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 0px 0px 0px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 2px;
  width: 50px;
  height: 50px;
  background-color: rgb(9, 132, 0);
}
.rating_outline5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 0px 0px 0px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 2px;
  width: 50px;
  height: 50px;
  background-color: rgb(42, 147, 252);
}

/* ================ Media Screen ================ */

@media (max-width: 900px) {

  .graph-row,
  .rollup-row,
  .data-box {
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    gap: 20px; /* vertical gap between stacked items */
  }

  .graph-box,
  .databox,
  .rollup-box-l,
  .rollup-box-r {
    width: 100%;
    min-width: 0;
    border-right: none;
    border-left: none;
  }

  .wide-box {
    flex-direction: column;
    width: 100%;
  }

  /* .data {
    width: 98%;
  } */

  .rating_title_text {
    font-size: 12px;
  }
}